<div class="dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 card card-primary py-5">
        <div class="row m-0  mb-5 justify-content-md-center">
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">売上</p>
            <p class="m-0 value">100.53＄</p>
            <p class="m-0 percent">12.4% 昨日から</p>
          </div>
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">販売数</p>
            <p class="m-0 value">903</p>
            <p class="m-0 percent">0.4% 昨日から</p>
          </div>
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">モデル数</p>
            <p class="m-0 value">20</p>
            <p class="m-0 percent">22.4% 昨日から</p>
          </div>
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">AOV</p>
            <p class="m-0 value">$ 600</p>
            <p class="m-0 percent">4% 昨日から</p>
          </div>
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">CV率</p>
            <p class="m-0 value">80%</p>
            <p class="m-0 percent">1.4% 昨日から</p>
          </div>
        </div>
        <div class="row m-0 justify-content-md-center" id="analystic-data" data-revenue="<%= @revenue_categories %>" 
                                                data-sales="<%= @sales_categories %>"
                                                data-day="<%= @day_categories %>">
          <div id="chart-01" class="col-lg-12"></div>
          <div id="chart-02" class="col-lg-6 mt-5"></div>
        </div>
        
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<script>
function initChart01(day_categories, revenue_categories, sales_categories) {
  $('#chart-01').highcharts({
    chart: {
      zoomType: 'xy'
    },
    title: {
        text: 'グラフには、1日あたりの売上と製品販売数が表示されます'
    },
    // subtitle: {
    //     text: 'Source: WorldClimate.com'
    // },
    xAxis: [{
        categories: day_categories,
        crosshair: true
    }],
    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value}本',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        title: {
            text: '販売数',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        }
    }, { // Secondary yAxis
        title: {
            text: '売上',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        labels: {
            format: '{value}＄',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        opposite: true
    }],
    tooltip: {
        shared: true
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        x: 120,
        verticalAlign: 'top',
        y: 100,
        floating: true,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || // theme
            'rgba(255,255,255,0.25)'
    },
    series: [{
        name: '売上',
        type: 'column',
        yAxis: 1,
        data: revenue_categories,
        tooltip: {
            valueSuffix: '＄'
        }

    }, {
        name: '販売数',
        type: 'spline',
        data: sales_categories,
        tooltip: {
            valueSuffix: '本'
        }
    }]
  });
}

function initChart02(data) {
  $('#chart-02').highcharts({
		chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
		},
		title: {
				text: 'チャートには、販売された製品タイプの割合が表示されます'
		},
		tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
				pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
								enabled: false
						},
						showInLegend: true
				}
		},
		series: [{
				name: '販売割合',
				innerSize: '40%',
				colorByPoint: true,
				data: data
		}]
  });
}

$(document).ready(function(){
  var revenue_categories = $("#analystic-data").data("revenue");
  var sales_categories = $("#analystic-data").data("sales");
  var day_categories = $("#analystic-data").data("day");
  // console.log(sales_categories);
	initChart01(day_categories, revenue_categories, sales_categories);
  $.ajax({
    type: "get", 
    url: "/analystic/model",
    success: function(res){
      var data = [];
      $.each(res, function(key, value) {
        data.push({
          name: value.name,
          y: value.qty
        })
      });
      initChart02(data);
    },
    // error: function(repsonse){...}
  });
	
});
</script>