<div class="dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 card card-primary p-3">
        <div class="row m-0">
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">売上</p>
            <p class="m-0 value">$100.53</p>
            <p class="m-0 percent">12.4% 昨日から</p>
          </div>
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">販売数</p>
            <p class="m-0 value">903</p>
            <p class="m-0 percent">0.4% 昨日から</p>
          </div>
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">モデル数</p>
            <p class="m-0 value">20</p>
            <p class="m-0 percent">22.4% 昨日から</p>
          </div>
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">AOV</p>
            <p class="m-0 value">$ 600</p>
            <p class="m-0 percent">4% 昨日から</p>
          </div>
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">CV率</p>
            <p class="m-0 value">80%</p>
            <p class="m-0 percent">1.4% 昨日から</p>
          </div>
          <div class="analystic col-lg-2 p-2">
            <p class="m-0 title">収入</p>
            <p class="m-0 value">$　400.53</p>
            <p class="m-0 percent">2.4% 昨日から</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
