<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Update model</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="<%= root_path %>">Dashboard</a></li>
          <li class="breadcrumb-item"><%= link_to "List models", models_path %></li>
          <li class="breadcrumb-item active">Update model</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Model form</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <%= render "shared/update_model_form" %>
      </div>
      </div>
    </div>
  </div>
</section>