<%= form_for @size,:html => {:class => "form-inline"}, remote: true do |f|%>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.text_field :size, placeholder: "New size...",
      class: "form-control", id: "new-size", required: true %>
  </div>
  <div>
    <%= f.submit "Add", class: "btn btn-primary ml-4" %>
  </div>
<% end %>

  