$("<%= escape_javascript(render @size, index: @index) %>").appendTo('.list-size');
$('<option value="<%= @size.id %>"><%= @size.size %></option>').appendTo('#detail_model_size_id');
$("#new-size").val('');