$("<%= escape_javascript(render @color, index: @index) %>").appendTo('.list-color');
$('<option value="<%= @color.id %>"><%= @color.color %></option>').appendTo('#detail_model_color_id');
$("#new-color").val('');